
/** BASIC */

body {
	text-align: justify;
	font-family: Galdeano, Georgia, helvetica, "Times New Roman", Times, serif;
	color: #333333;
	background-color:#F4F4F4;
	margin:0;
}

h1, h2, h3 {
	text-transform: lowercase;
	color: #000099;
}

ul {
	margin-left: 0px;
	padding-left: 1em;
	list-style-position: inside;
}

a {
	color: #000099;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
	color: #990000;
}
.clearfix:after{
  content: " ";
  display:block;
  height:0px;
  clear:both;
}
/** HEADER */

#header {
	overflow:auto;
	position:fixed;
	top:0px;
	width:100%;
	background-color:gray;
	background-color:rgba(0,0,0,0.5);
	padding:5px 10px;
}
#header:after{
	clear:both;
}
#header h1 {
	float: left;
	margin: 0px;
}

#header .account {
	float: right;
	margin: 0px;
	margin-top:10px;
	margin-right:20px;
}

/** MENU */

#menu {
	width: 980px;
	height: 1.6em;
	margin: 0px auto;
	margin-top:60px;
	border: 1px solid #cccccc;
	border-radius:2px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	padding: 3px 10px;
	border-right: 1px solid #000099;
	text-decoration: none;
}

#menu a:hover {
	background: #000099;
	color: #FFFFFF;
}

/** CONTENT */

#content {
	width: 980px;
	margin: 0 auto;
	background-color:#fff;
}

#content:after{
	content: " ";
	display: block;
	height: 0px;
	clear: both;
}
#content h2 {
	font-weight: normal;
}

#left {
	float: left;
	width: 610px;
	padding:10px 20px;
	border-right:solid 1px #eee;
}

#left .post {
  /*border-bottom:1px dashed #000099;*/
}

.post h1{
	color:#333;
	font-weight:bold;
}
.byline {
  font-weight:normal;
  font-style:italic;
  color:#666;
}

.date {
  color:#D00;
}

.tags {
  
}

.entry {
}
.meta {
}

#post-nav {
  padding-bottom:10px;
}
.post-nav-pre {
  float:left;  
}

.post-nav-ne {
  float:right;
}

#right {
	float: right;
	width:290px;
	margin-right:20px;
}
#right h2 {
	font-weight:bold;
	background-color:#eee;
	padding-left:10px;
}

.recommendList a{line-height:20px;}

/** FOOTER */

#footer {
	clear: both;
	width: 980px;
	margin: 0px auto;
	border: 1px solid #cccccc;
}

#footer p {
	margin: 0px;
	padding: 0px;
	font-size: x-small;
	padding: 5px 10px;
	text-align:center;
}
#comment-form{
  padding-bottom:0.5em;
}
#comments {
  display:block;
  padding-top:10px;
}
.comment-box {
  padding-left:0.5em;
  padding-top:10px;
  margin-bottom:0.5em;
  border:1px dashed #999;
}
.comment-avatar{
  float:left;
}
.comment-info{
  margin-left:50px;
}
.comment-info > div{
  padding:2px;
}
.comment-content{
  font-size:16px;
  color:black;
  font-style:normal;
}
.comment-user{
  font-size:14px;
  color:#284569;
  font-style:italic;
  margin-top:0px;
}
.comment-time{
  font-size:10px;
  font-style:italic;
  color:#999;
  margin-top:-0.5em;
}
.comment-hilight{
  background-color:#ffffcc;
}
.comment-action{
  text-align:right;
  margin:0 10px 5px 0px;
  font-size:12px; 
  line-height:18px;
}
.comment-action span{
  padding:2px 4px;
}
.comment-action span[data-dir=inc]{
  color:green;
}
.comment-action span[data-dir=dec]{
  color:red;
}
.comment-action span:hover{
  background-color: #333;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.error-msg {
  color:#AA2105;
  font-size:12px;
  font-style:normal;
}
.unshown{
  visibility:hidden;
}
.shown{
  visibility:visible;
}
.tag_title{
  color:#999;
  margin-top:0.5em;
  font-style:italic;
  font-weight:bold;
  font-size:18px;
}
